/* 1. Import Outfit from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import "tailwindcss";
 
@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
 
.animate-gradient {
  animation: gradientMove 16s ease infinite;
}
 
@custom-variant dark (&:where(.dark, .dark *));
 
@theme {
  --color-lite: #9e9e9e;
  --color-white: #ffffff;
  --color-black: #252525;
  --color-grey: #dee6ff;
  --color-text-field: #353535;
  --color-table-header: #e8eeff;
  --color-table-hover: #eef3ff;
  --color-table-selected: #e0e9ff;
  --color-button-idle: #223d9f;
  --color-button-hover: #3054e5;
  --color-button-active: #2744b4;
  --color-button-disable: #9ca3af;
  --color-sensor-alert: #ad0909;
  --color-sensor-noalert: #23b6f6;
  --color-sensor-on: #1a9f0b;
  --color-bg-movement: #fbf1d7;
  --color-bg-trip: #f2faf1;
  --color-popup-bottom: rgba(48, 84, 229, 0.3);
  --color-status-error: #ef3934;
  --color-status-info: #3054e5;
  --color-hover: rgba(0, 0, 0, 0.12);
}
 
/* 2. Apply globally */
body {
  font-family: "Outfit";
  font-size: 16px;
  margin: 0;
  padding: 0;
}
 
 